@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
*{
    font-weight: 400;
    font-style: normal;
    /* background-color: white; */
}
p, h1, h2, h3 {
    color: white;
}
body {
    background-color: black;
}


@theme{
    --breakpoint-sm-2: 31.25rem;
    --breakpoint-md-2: 43.75rem;
    --breakpoint-md: 58.125rem;
    --breakpoint-lg-2: 81.25rem;
    --font-primary: Jaldi, sans-serif;
    --color-about: #141414;
}
/* .bg-primary {
    background: linear-gradient(#030307, #1d1a3a);
} */